.products-container-big{
    height: 2600px;
    width: 100%;
    background-color: #EBEBEB;
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: center;
    
}

.container-ppay{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.products-payment{
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 45%;
}

.payment-div{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.payment-image{
    height: 40px;
}

.text-start{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 50% 20%;
    text-align: start;
    align-content: center;

}


.see-more{
    text-decoration: none;
    color: blue;
    font-weight: normal;
}

.see-more:hover{
    color: rgb(0, 0, 138);
    cursor: pointer;
}

.products-with-pictures{
    gap: 20px;
    width: 85%;
}

.visita-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #666;
    font-size: 26px;
    font-weight: 300;
    align-items: end;
}

.see-more-history{
    color: #1259c3 !important;
    font-size: 20px;
}

.see-more-history:hover{
    cursor: pointer;
}

.individual-product-history{
    display: grid;
    grid-template-rows: 60% 40%;
    background-color: white;
    width: 90%;
}

.products-history{
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 300px;
    margin-top: 20px;
    text-align: start;
}

.product-image{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.green-taxes{
    color: #00A650;
    font-size: 17px;
    font-weight: 500;
}

.prices{
    display: grid;
    gap: 10px;
    position: relative;
    left: 7%;
    
}

.price{
    display: flex;
    flex-direction: row;
    color:#333;
    font-size: 25px; 
    align-items: center;
}

.price p {
    font-size: 15px;
    position: relative;
    left: 20px;
}

.martop{
    margin-top: 40px;
}

.imagen-oferta{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    align-items: center;
}

.imagen-oferta :hover{
    cursor: pointer;
}

.imagen-oferta img{
    width: 100%;
}

.ofertas-negra{
    color: white;
    display: grid;
    height: 100%;
    background-color: black;
    grid-template-rows: 10% 30% 10%;
    align-content: center;
    justify-content: center;
    width: 100%;
}


.aprovecha{
    font-size: 27px;
    font-weight: bolder;
}


.container-tiendas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
    height: 350px;
}

.tienda-individual{
    border-radius: 20px;
    background-color: white;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: 30% 70%;
    justify-items: center;
    align-items: center;
}


.img-bg-sore{
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    width: 100%;
    height: 100%;
}

.second-row-ind-store{
    display: grid;
    grid-template-rows:20% 20% 40% 20%;
    align-items: center;
    justify-items: center
}

.products-store{
    height: 70%;
}

.logo-store{
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
    border-radius: 15px;
    position: relative;
    top: -25px;
}

.bolder{
    font-weight: bolder;
    font-size: 20px;
}

.images-store-sr{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.see-store{
    color: #666;
    font-weight: bolder;
}


.container-full-categorias{
    display: grid;
    grid-template-rows: 20% 80%;
    height: 600px;
    align-items: center;
}

.container-categorias-imagenes{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
    gap: 3px;
}


.row-categorias{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 2px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.categoria-individual{
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
    justify-items: center;
    align-items: center;
}


.categoria-individual:hover{
    cursor: pointer;
}


.image-categoria{
    height: 100px
}

.title-categoria{
    font-size: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
